<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Credit Card Customer Segmentation</title>
</head>

<style>
    .titlestyle {

        justify-content: center;
        text-align: center;
    }

    .title {
        text-align: center;
    }

    .formstyle {
        padding: 20px 20px;
    }

    .mr-2 {
        margin-right: 20px;
    }

    .bgimg {
        background-image: url(../static/download2.jpg);
        height: max-content;
        width: 100%;
        background-repeat: no-repeat;
        opacity: 1.5;
        background-size: cover;
    }

    .txtwhite {
        border-color: white;
        color: white;
    }

    .border {
        border: 1px solid white !important;
    }
</style>

<body class="bg-light">
    <main class="container size">
        <!-- <img src="../static/download.jpg" alt=""> -->
        <div class="my-3 p-3 bg-body rounded shadow-sm bgimg">
            <div class="d-flex align-items-center p-3 my-3 rounded shadow-sm titlestyle">
                <div class="lh-1">
                    <h1 class="h2 mb-0 text-black lh-1 txtwhite">Credit Card Customer Segmentation - Packt, Team Epic
                    </h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-control title">Model 1</div>
                        <form class="formstyle" action="{{ url_for('model1')}}" method="post">

                            <div class="input-group mb-3 mr-2">
                                <span class="txtwhite">Balance</span>
                                <input type="text" name="BALANCE" class="form-control border" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;"
                                    placeholder="Enter balance here">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Purchases</span>
                                <input type="text" name="PURCHASES" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Enter Purchase">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Cash advance</span>
                                <input type="text" name="CASH_ADVANCE" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;"
                                    placeholder="Enter Cash Advance">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Credit limit</span>
                                <input type="text" name="CREDIT_LIMIT" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;"
                                    placeholder="Enter Credit Limit">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Payment</span>
                                <input type="text" name="PAYMENTS" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;"
                                    placeholder="Enter Payment here">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Minimum payment</span>
                                <input type="text" name="MINIMUM_PAYMENTS" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;"
                                    placeholder="Enter Minimum Payment here">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Percent full payment</span>
                                <input type="text" name="PRC_FULL_PAYMENT" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;"
                                    placeholder="Percent Full Payment">
                            </div>
                            <button type="submit" class="btn btn-primary ">Predict</button>
                        </form>
                    </div>
                    <div class="col">
                        <div class="form-control title">Model 2</div>
                        <form class="formstyle" action="{{ url_for('model2')}}" method="post">

                            <div class="input-group mb-3 mr-2">
                                <span class="txtwhite">Balance</span>
                                <input type="text" name="BALANCE" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Enter balance here">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Balance Frequency</span>
                                <input type="text" name="BALANCE_FREQUENCY" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Enter Purchase">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Purchases</span>
                                <input type="text" name="PURCHASES" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Enter Cash Advance">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Oneoff purchase</span>
                                <input type="text" name="ONEOFF_PURCHASES" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Enter Credit Limit">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Installment purchase</span>
                                <input type="text" name="INSTALLMENTS_PURCHASES" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Enter Payment here">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Cash advance</span>
                                <input type="text" name="CASH_ADVANCE" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Enter Minimum Payment here">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Cash advance transaction</span>
                                <input type="text" name="CASH_ADVANCE_TRX" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Percent Full Payment">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Purchase transaction</span>
                                <input type="text" name="PURCHASES_TRX" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Percent Full Payment">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Credit Limit</span>
                                <input type="text" name="CREDIT_LIMIT" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Percent Full Payment">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Payment</span>
                                <input type="text" name="PAYMENTS" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Percent Full Payment">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Percent full payment</span>
                                <input type="text" name="PRC_FULL_PAYMENT" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Percent Full Payment">
                            </div>

                            <div class="input-group mb-3">
                                <span class="txtwhite">Tenure</span>
                                <input type="text" name="TENURE" class="form-control" required="required"
                                    style="width: 50px; margin-left: 20px; opacity: 0.5;" placeholder="Percent Full Payment">
                            </div>
                            <button type="submit" class="btn btn-primary ">Predict</button>
                        </form>
                    </div>
                    <div>
                        <div class="form-control title">Prediction</div><br>
                        <div class="txtwhite" style="text-align: justify;">{{output}}</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>